//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
.result-list__item {
    padding: 0 0 15px;
    margin: 0 0 15px;
    border-bottom: 1px solid #b1b4b6;
}
