
{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
{%- from "govuk/components/input/macro.njk" import govukInput -%}
{% from "govuk/components/accordion/macro.njk" import govukAccordion %}

{%- set filterOptionsHtml %}
    {% for filter in filters %}
        <div class="govuk-form-group">
            {{ govukCheckboxes({
                name: filter.title,
                classes: "govuk-checkboxes--small js-auto-submit",
                attributes: {
                    "id": filter.id
                    },
                fieldset: {
                    legend: {
                    text: filter.title,
                    classes: "govuk-fieldset__legend--s"
                    }
                },
                items: filter.items
                }) }}
        </div>
    {% endfor %}
{% endset -%}

{{ mojFilter({
  heading: {
    text: 'Filter by topic and organisation'
  },
  selectedFilters: {

    heading: {
      text: 'Selected filters'
    },

    clearLink: {
      text: 'Clear filters'
    },

    categories: selectedFilters
  },
  optionsHtml: filterOptionsHtml
}) }}
