

{{ mojPagination({
  results: {
    from: pagination.from,
    to: pagination.to,
    count: pagination.total,
    text: 'records'
  },
  previous: pagination.previous,
  next: pagination.next,
  items: pagination.items,
  classes: 'govuk-!-margin-bottom-3'
}) }}
