{% extends "layouts/main.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {{ resource.title }} - Sprint 1
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="{{ backLink }}">Back</a>
{% endblock %}

{% block content %}
<p class="govuk-caption-xl"><a href="/s1/find?q=&organisationFilters={{ resource.issuing_body }}&topicFilters=_unchecked&organisationFilters=_unchecked">{{ resource.issuing_body_readable }}</a></p>
<h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
    {{ resource.title }}
</h1>
{% if resource.topic|length %}
<p class="govuk-!-margin-bottom-3">
    <h2 class="govuk-visually-hidden">Topics:</h3>
    {% include "_includes/topics.njk" %}
</p>
{% endif %}
<p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-0" >
    {{ resource.description | replace("\\n\\n", "\n\n") | govukMarkdown | safe  }}
</p>

{% if resource.url %}
<h2 class="govuk-heading-m govuk-!-margin-bottom-2">End point</h2>
{{ resource.url | govukMarkdown | safe }}</p>
{% endif %}

{% if resource.documentation %}
<h2 class="govuk-heading-m govuk-!-margin-bottom-2">Documentation</h2>
{{ resource.documentation | govukMarkdown | safe }}</p>
{% endif %}

<h2 class="govuk-heading-m govuk-!-margin-bottom-2">Contact</h2>
{{ resource.contact | govukMarkdown | safe }}</p>

{{ govukButton({
  text: "Organise a data share agreement with " + resource.issuing_body_readable,
  href: '#'
}) }}

<!-- <h2>Raw data for debugging</h2>
<code>
    {{ resource | dump}}
</code> -->
{% endblock %}

