{% extends "layouts/main.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}
  <h2 class="govuk-heading-l">Browse by topic</h2>
  <ul class="gem-c-cards__list govuk-!-margin-bottom-6">
        {% for topic in topics | sort(true, false, 'count') %}
            <li class="gem-c-cards__list-item">
                <div class="gem-c-cards__list-item-wrapper" data-count="{{ topic.count }}">
                    <h3 class="govuk-heading-s gem-c-cards__sub-heading"><a class="govuk-link gem-c-cards__link" href="/s1/find?topicFilters={{ topic.id | urlencode }}&topicFilters=_unchecked&organisationFilters=_unchecked">{{ topic.name }}</a></h3>
                    <p class="govuk-body gem-c-cards__description">{{topic.description}}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
    <h2 class="govuk-heading-l">Browse by organisation</h2>
    {% set orgLogos = true %}
    {% set orgListingTitle = "Ministerial departments" %}
    {% set orgListing = mds %}
    {% include "_includes/org-listing.njk" %}
    
    {% set orgLogos = false %}
    {% set orgListingTitle = "Non-ministerial departments" %}
    {% set orgListing = nmds %}
    {% include "_includes/org-listing.njk" %}
    
    {% set orgListingTitle = "Executive non-departmental public bodies" %}
    {% set orgListing = endpbs %}
    {% include "_includes/org-listing.njk" %}

    {% set orgListingTitle = "Executive agencies" %}
    {% set orgListing = ea %}
    {% include "_includes/org-listing.njk" %}

    <!-- {% set orgListingTitle = "Public corporation" %}
    {% set orgListing = pc %}
    {% include "_includes/org-listing.njk" %} --!>

    </div>

  </div>
{% endblock %}
