{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }} prototypes
    </h1>

    <h2 class="govuk-heading-l">Sprint 3</h2>
    <ul class="gem-c-document-list">
        <li class="gem-c-document-list__item">
            <a class="gem-c-document-list__item-title govuk-link" href="/s3/start">A start page that considered how to display three organisations</a>
            <p class="gem-c-document-list__item-description ">Previous prototypes were designed around many organisations sharing metadata to the catalogue.</p>
        </li>
        <li class="gem-c-document-list__item">
            <a class="gem-c-document-list__item-title govuk-link" href="https://www.figma.com/proto/IgJSC0cviF5CfrUOfW7jRk/CDDO-Data-Catalogue?page-id=32617%3A20971&node-id=32618%3A20977&viewport=-420%2C225%2C0.19&scaling=contain&starting-point-node-id=32618%3A20977&hide-ui=1">A resource listing page with "ideal" data</a>
            <p class="gem-c-document-list__item-description ">We analysed existing catalogues and pulled their best ideas into a design based on documentation from Police UK</p>
        </li>
    </ul>
    
    <h2 class="govuk-heading-l">Sprint 2</h2>
    <ul class="gem-c-document-list">
        <li class="gem-c-document-list__item">
            <a class="gem-c-document-list__item-title govuk-link" href="/s2/start">A full journey prototype with redesigned filter fuctionality to scale to many facets</a>
            <p class="gem-c-document-list__item-description "></p>
        </li>
    </ul>
    <h2 class="govuk-heading-l">Sprint 1</h2>
    <ul class="gem-c-document-list">
        <li class="gem-c-document-list__item">
            <a class="gem-c-document-list__item-title govuk-link" href="/s1/start">A full journey prototype with functional filters for organisations and topics</a>
            <p class="gem-c-document-list__item-description "></p>
        </li>
    </ul>
  </div>
</div>

{% endblock %}
