{% extends "layouts/main.html" %}

{% block pageTitle %}
Home – {{serviceName}} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }} prototypes
    </h1>

    <p>Access different versions of the GDX Data Marketplace prototypes here:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li><a href="/s1/start">Sprint 1</a></li>
    </ul>
    
  </div>
</div>

{% endblock %}
