{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% set bodyAttributes = { 'data-module' : 'edge' } %}
{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block header %}
    {{ govukHeader({
        homepageUrl: "/",
        serviceName: serviceName,
        serviceUrl: "/",
        containerClasses: "govuk-width-container"
    }) }}
    <div class="govuk-width-container">
        {{ govukPhaseBanner({
            tag: {
            text: "alpha"
            },
            html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
        }) }}
    </div>
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/jquery-3.6.3.min.js"></script>
  <script src="/public/javascripts/expander.js"></script>
  <script src="/public/javascripts/js-result-list-toggle-height.js"></script>
{% endblock %}
